// Base screen
.screen
  width: 800px
  height: 200px
  margin: 0 auto

.welcome
  padding-top: 200px
  input
    display: block
    padding: 20px
    font-size: 20pt
    margin: 0 auto
  p
    text-align: center
    color: #999

.playerselect
  ul
    list-style: none
    li
      background: #999
      width: 200px
      padding: 20px
      margin-top: 10px
      border-radius: 5px
      color: #fff

    li:hover
      cursor: pointer
      background: lighten(#999, 10%)
