!!!5
%html
  %head
    %title WebRTC - The game (working name)
    %script{src: 'javascript/main.js'}
    %link{href: 'stylesheets/main.css', rel: 'stylesheet'}
  %body
    %span#info nothing happened