!!!5
%html
  %head
    %title WebRTC - The game (working name)
    %script{src: 'javascript/main.js'}
    %link{href: 'stylesheets/main.css', rel: 'stylesheet'}

  %body
    %button{name: 'join'}   Join session
    %button{name: 'create'} Create session
    %br
    %br
    %textarea{name: 'details'}
