!!!5
%html
  %head
    %title WebRTC - The game (working name)
    %script{src: 'javascript/main.js'}
    %script{src: 'socket.io/socket.io.js'}
    %link{href: 'stylesheets/main.css', rel: 'stylesheet'}

  %body
    
    .screen.welcome.hide
      %input{name: 'username', placeholder: 'Username'}
      %p Press enter to start the game

    .screen.playerselect.hide
      %h1{name: 'Select player'}
      %p Select a player
      %ul{name:'players'}

    .screen.game.hide
      %h1{name: 'Game'}
      %canvas{:id => "canvas", :height => 600, :width => 800} No canvas love :(